body {
	
}

.Canvas {
	position: absolute;
	left: 30px;
	top: 200px;
	border: 1px solid
}

.controls div {
	float: left;
}

.SnakePodite {
	background-image : url(../images/podite.gif);
	
}

.SnakeHeader {
	background-image : url(../images/header.gif);
}

.Food {
	background-image : url(../images/food.gif);
	display: block;
}

.SnakePodite, .SnakeHeader, .Food {
	position: absolute;
	overflow: hidden;
}

